body{
    background-color:#4d194d;
}
h1{
    text-align: center;
    color:honeydew;
    font-family: cursive;
}
div {
    color: lavender;
    background-color: #272640;
    padding: 5px;
    position: sticky;
    top: 10px;
    font-family:"Lucida Handwriting",Cursive;
    
    border-right: 9px double #ff4d6d;
    border-bottom: 5px double #bfd200;

    border-radius: 20px;
}
tr:nth-child(even){
    background-color:grey;
}
tr:nth-child(odd){
    background-color: silver;
}
table{
    border: 1px;
    width: 97%;
    text-align: left;
    margin: 20px;
    border-bottom: slategray;
}
th{
    background-color: slategray;
}
address{
    text-align: right;
    color: honeydew;
}