body{
    background-color: #FFFDED;
}
#navbar{
    background-color:#4F4789;
   overflow: hidden;
   position: -webkit-sticky;
	position: sticky;
	top: 0;
}
#nav
{
    color:white;
    padding:5px;
    float:left;
  text-align: center;
  padding: 16px;
  
}
#nav a{
    color:white;
    text-decoration:none;
    display: block;
    
}
#search input[type=text]{
    width:300px;
    height:27px;
    border-left:5px deeppink;
    border-radius:10px;
  
}
     
#search{
    float:right;
    margin:7px;
}
     
#search button{
  
    float: right;
    padding:5px 10px;
    margin-right: 16px;
    font-size: 10px;
    border: none;
    cursor: grab;
}
#nav:hover{
    background-color: darkcyan;
}

@keyframes changeBg
{
   0%   {background-image: url("https://wallpapershome.com/images/pages/pic_h/13655.jpg");background-size: cover;}
   25%  {background-image: url("https://m-cdn.phonearena.com/images/article/126279-wide-two_1200/Which-iPhone-11-color-should-you-get.jpg");background-size: cover;}
   50%  {background-image: url("https://www.99images.com/photos/wallpapers/3d-abstract/horizontal-abstract%20android-iphone-desktop-hd-backgrounds-wallpapers-1080p-4k-0jtw9.jpg?v=1616394076");background-size: cover;}
   100% {background-image: url("https://img-new.cgtrader.com/items/2057423/a128b40715/iphone-11-iphone-11-pro-iphone-11-pro-max-in-all-colors-bundle-3d-model-low-poly-obj-fbx-stl-blend-dae.jpg");background-size: cover;}
}
 
.key
{
    height:400px;
    width: 1255;
   animation: changeBg 9s infinite;
   font-weight: bolder;
   text-align: center;
}
 img{
    border-radius: 50%;
    height:190px;
    width:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
#airtag{
     font-family: 'Pacifico', cursive
}
.desc{
    color:thistle;
    font-family: "Georgia",serif;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    background-color:#E5E1EE;
    
  }
  
  .card:hover {
    box-shadow: 0 8px 36px 0 rgba(103, 243, 22, 0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  footer {
    text-align: center;
    padding: 3px;
    background-color:#575C55;
    color: white;
  }
